*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/*Min-width Media Queries: */

/* Small screens (default) */
html { font-size: 100%; }

/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}

/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

body{
    background: url(../fondos/travel2.jpg) no-repeat fixed center center;
    background-size: cover;
}

.container{
    margin: 0 auto;
    max-width: 80rem;
    width: 90%;
    padding-top: 10px;
    font-family: 'ope sans';
}

/*On larger screens, columns gain float: left in order to stack
content horizontally. Columns now use padding for gutters, so you
 no longer need to worry about removing margins.*/

@media (min-width: 40rem) {
    .column {
        float: left;
        margin-left: 0.2rem;
        margin-right: 0.2rem;
    }
    
    .column.full { width: 97.5%; }
    .column.two-thirds { width: 65%; }
    .column.half { width: 47.5%; }
    .column.third { width: 30%; }
    .column.fourth { width: 22.5%; }
    .column.flow-opposite { float: right; }  
}

.clearfix:before,
.clearfix:after{
    content: " ";
    display: table;
}

.clearfix:after{
    clear: both;
}

.clearfix{
    *zoom: 1;
}

.third{
    opacity: 1;
    position: relative;
}

.third .content{
    position: absolute;
    background: rgba(0, 118, 192, 0.791);
    left: 0;
    bottom: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    border-radius: 3%;
    transition: 1.5 ease;
    
}

.column{
    position: relative;
}

.picture{
    width: 100%;
    height: 100%;
    border-radius: 3%;
    min-width: 200px;
    min-height: 150px;
    max-width: 80vw;
    max-height: 45vh;
}

.column:hover .content{
    opacity: 1;
    cursor: pointer;
}

.content{
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    bottom: 0;
}

.content h2{
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);

}

header h1{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    font-family: 'Lobster', cursive;
}

figure{
    font-weight: 300;
    margin-right: 7rem;
    margin-left: 5rem;
    margin-top: 45px;
}

footer{
    text-align: right;
    margin-right: 1rem;
}

h2{
    font-size: 15px;
}

aside{
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 300px;
}

aside img{
    width: 50px;
    margin: auto;
    margin-left: 2rem;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

aside img:hover{
    cursor: pointer;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}